.register {
    top: 0;
    width: 100%;
    bottom: 0;
    opacity: 1;
    min-height: 100vh;
    text-align: center;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 15px;
}
.logo-2 {
    text-align: center;
    max-width: 150px;
    margin: 0 auto -35px;
}
.details {
    padding: 70px 30px 30px;
    max-width: 400px;
    margin: 0 auto 15px;
    border-radius: 5px;
}
.register-inner-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f7f5f5;
    position: relative;

}
.logo-2 {
    text-align: center;
    max-width: 150px;
    margin: 0 auto -35px;
}
.register-inner-form h3 {
    margin: 0 0 25px;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #717171;
    text-align: center;
}
.form-box {
    float: left;
    width: 100%;
    position: relative;
}
.form-box input {
    float: left;
    width: 100%;
    padding: 11px 15px 11px 45px;
}
.input-text {
    font-size: 14px;
    outline: none;
    color: #717171;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .06);
}
.form-box i {
    position: absolute;
    top: 13px;
    left: 15px;
    font-size: 19px;
    color: #dbdbdb;
}
.btn-theme {
    background: #f4bc27;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: none;
    color: #fff;
}
.btn-md {
    cursor: pointer;
    padding: 12px 40px 11px 40px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
}
.extra-register {
    float: left;
    width: 100%;
    margin: 30px 0 25px;
    text-align: center;
    position: relative;
}
.extra-register::before {
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: 1px;
    background: #d8dcdc;
    content: "";
}

.extra-register > span {
    width: auto;
    float: none;
    display: inline-block;
    background: #f7f5f5;
    padding: 1px 20px;
    z-index: 1;
    position: relative;
    font-family: Open Sans;
    font-size: 13px;
    color: #afafaf;
    text-transform: capitalize;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-list li {
    display: inline-block;
}

.social-list li a {
    margin: 1px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
.fa-facebook-official{
    color: #3B5998;
}
.fa-google-plus-square{
    color: #EA4335;
}
.register-inner-form p{
    color: #717171;
    margin-bottom: 0;
    text-align: center;
    font-size: 14px;
}
.url-register{
    color: #f4bc27;
}
.checkbox {
    margin-bottom: 20px;
    font-size: 14px;
}
.form-check {
    float: left;
    margin-bottom: 0;
    padding-left: 0;
}
.form-check a {
    color: #717171;
    float: right;
}
.form-check-input {
    position: absolute;
    margin-left: 0;
}
.form-check label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    margin-left: -25px;
    border: 1px solid #c5c3c3;
    border-radius: 3px;
    background-color: #fff;
}
.form-check-label {
    padding-left: 25px;
    margin-bottom: 0;
    font-size: 14px;
    color: #717171;
}
.checkbox-theme input[type="checkbox"]:checked + label::before {
    background-color: #f4bc27;
    border-color: #f4bc27;
}
input[type=checkbox]:checked + label:before {
    font-weight: 300;
    color: #f3f3f3;
    line-height: 15px;
    font-size: 14px;
    content: "\2713";
}
input[type=checkbox] {
    margin-top: 4px;
}
.checkbox a {
    font-size: 14px;
    color: #717171;
    float: right;
}
.square{
    width: 80px;
    height: 50px;
    background-color: #f4bc27;
    position: absolute;
    top: 0;
    left: 30%;
}